#spinner:not([hidden]) {
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cursor-pointer:hover{
	cursor: pointer;
}

.position{
	position: fixed;
	top: 0;
	left: 0;
	width: 400px;
	height: 200px;
	background-color: #f25a41;
}

.custom-tooltip{
  position: relative;
  cursor: pointer;
}
.custom-tooltip:hover .custom-tooltip-text{
  
  visibility: visible;
}
.custom-tooltip-text{
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top:100%;
  left:50%;
  display: inline-block;
  margin-left: -60px;
  margin-top: 5px;
  background-color: darkmagenta;
  font-weight: 600;

}
